.DS_Store
node_modules/
demo/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
.ipr
.iws
*.diff
*.patch
*.bak
*.zip
*.rar
*.7z
.project
.settings
.*proj
.svn/
*.swp
*.swo
*.log
.npmrc